
body {
  margin: 0;
  font-family: 'Barriecito', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #c0bebe;
}


.app-detail {
  padding: 20px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #c0bebe;
  width: 100%;
  text-align: center;
  height: auto; 
}

.app-detail h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #484646;
  font-weight: bold;
}

.app-detail a {
  display: inline-block;
  margin: 0 10px;
  color: #0a0a0a;
  font-weight: bold;
  transition: color 0.3s ease;
  text-decoration: none;
}

.app-detail a:hover {
  color: #007bff;
}


.title_text {
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
}

.title_text img {
  height: 380px;
}
.choose-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
  background-color: aliceblue;
  border: 2px dashed #ccc;
  border-radius: 10px;
  justify-content: center;
}

.innerchoose-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; 
  background-color: white;
  border: 2px dashed #aaa;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  background-color: #21c829;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload input {
  display: none;
}


.thumbnail {
  width: 100%;
  max-height: 100px;
  margin-top: 10px;
  object-fit: contain;
  border-radius: 5px;
}
